<web-app>
    <servlet>
        <servlet-name>SurveyServlet</servlet-name>
        <servlet-class>com.survey.SurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyServlet</servlet-name>
        <url-pattern>/SurveyServlet</url-pattern>
    </servlet-mapping>
</web-app>
